/* .users-page-container {
  width: 100%;
} */

.nav-bar {
  padding: 8px 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.logo {
  width: 64px;
}

.logout-btn {
  width: 120px;
  min-width: 120px;
  max-width: 120px;
  height: 48px;
  padding: 8px;
}

.main-container {
  padding: 20px;
  display: grid;
  gap: 44px;
}
